* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Gochi Hand", cursive;
    scroll-behavior: smooth;
}
body{
    position: relative;
    width:100%;
    height: 100vh;
    overflow: hidden;
}



.bg-v {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0  ;
}

.bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-w {
    background: #ffffffc5;
}

.btn{
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding:10px 20px;
    cursor: pointer;
    border:3px solid #000 !important;
    transition: 0.3s;
    border:none;
    text-align: center;
}
.btn:hover{
    background-color: #00000000;
    color: #000;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px
}
.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.centerall {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
a.no{
    text-decoration: none;
}

section{
    width:100%;
    height: 100vh;
    overflow: hidden;
}



.loading{
    position: fixed;
    top:0;
    left:0;
    background:#ffffff8f;
    z-index:1000;
}
.l-logo{
    width:80px;
    border-radius: 50%;
    animation: loading 2s infinite;
}
@keyframes loading {
    0%{
        outline:0px solid #8b8b8b59;
    }
    50%{
        outline:30px solid #8b8b8b59;
    }
    100%{
        outline:0px solid #8b8b8b59;
    }
}



.top-bar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
    padding:10px 30px;
    display: grid;
    grid-template-columns: 150px 5fr 100px 100px 100px 1fr;
}
.stats{
    gap:10px;
}
.top-icon{
    height: 30px;
}

.pp{
    position:fixed;
    width:400px;
    z-index: 12;
    background-color: #ffeb92;
    border:3px solid #000;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
    opacity:0;
    display: none;
}
.bg-b {
    background: #ffffff5d;
    z-index:11;
    transition: 0.5s;
    opacity:0;
    display: none;
}
#pp-h{
    text-align: center;
}
#pp-para{
    font-size:13px;
    text-align: center;
    margin: 10px 0 10px 0;
}
.pp-container{
    transition: 0.3s;
}
.pp-ind-container{
    border:2px solid #000;
    border-radius: 18px;
    padding:8px 15px;
    margin: 0 10px;
}
.pp-img{
    width:50px;
}
.pp-btn{
    margin: 10px 0 0 0;
    width:50%;
    padding: 5px 15px;
    position: relative;
}





#settings-btn{
    cursor: pointer;
}
#bg-settings{
    position: absolute;
    z-index: 13;
    top:0;
    left:0;
    background-color: #ffffff77;
    transition: 0.5s;
    transform:scale(0);
}
.settings{
    background-color: #ffeb92;
    width:70%;
    max-height: 80%;
    z-index:14;
    padding:20px 50px;
    border: 5px solid #ccc;
    border-radius: 20px;
    transition: 0.5s;
    transform:translate(-50%,-50%) scale(0) ;
}
.settings-h{
    font-size:30px;
    font-family: "Pacifico", cursive;
}
.h-set-cont{
    justify-content: space-between;
}
.x{
    font-size:30px;
    cursor: pointer;
}
.settings-container{
    padding:10px 150px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(1fr, 3);
    gap:10px;
}
.credits{
    padding:10px 150px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(1fr, 3);
    gap:10px;
}
.setings-toggles{
    position: relative;
    overflow: hidden;
    appearance: none;
    width:60px;
    height:30px;
    background-color: #ffeb92;
    cursor: pointer;
    border:2px solid #000;
    border-radius: 15px;
    transition: 0.3s;
}
.setings-toggles:checked{
    background-color: #86BCBD;
}
.setings-toggles::after{
    content: "";
    position: absolute;
    top:50%;
    left:2px;
    right:unset;
    border-radius: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: #000;
    transition: 0.3s;
}
.setings-toggles:checked::after{
    left:unset;
    right:2px;
}







.shop-view{
    background-color: #ffeb92;
    width:70%;
    max-height: 80%;
    z-index:15;
    padding:20px 50px;
    border: 5px solid #ccc;
    border-radius: 20px;
    transition: 0.5s;
    transform: translate(-50%,-50%) scale(0) ;
    overflow-y: scroll;
}
.shop-view hr {
    margin: 10px 0 20px 0;
}
.shop-top{
    justify-content: space-between;
}
.shop-view-h{
    font-size:30px;
    font-family: "Pacifico", cursive;
}
.shop-items-container{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    margin-bottom: 20px;
}
.shop-item{
    padding:10px 15px;
    border: 2px solid #242424;
    border-radius: 18px;
    text-align: center;
}
.shop-item-img{
    width:50px;
    height: 50px;
    object-fit: cover;
}
.shop-item-h{
    font-size:18px;
    font-weight: 900;
}
.shop-item-para{
    font-size:13px;
    color: #242424;
}
.shop-btn{
    padding:2px 30px 5px 30px;
    font-size:15px;
}
#shop-bg{
    background-color: #ffffff5d;
    z-index:-10;
    opacity: 0;
    transition: 0.3s;
}
.shop-items-container-h{
    font-size:20px;
    margin: 0 0 10px 0;
}
#shop-item7 .shop-item-img , 
#shop-item8 .shop-item-img , 
#shop-item9 .shop-item-img {
    transform: scale(2.5);
}








#invest-bg{
    background-color: #ffffff5d;
    z-index:-10;
    opacity: 0;
    transition: 0.3s;
}
.invest{
    transform: translate(-50%,-50%) scale(0);
    z-index: 14;
}
#invest-stat{
    font-size:20px;
    font-weight: 900;
}
.invest-img{
    width:50px;
}





.no-money{
    z-index: 17;
    background-color: #ffeb92;
    padding:10px 30px;
    border:2px solid #333333;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s ;
    transform: translate(-50%,-50%) scale(0) ;
}
.nm-h{
    font-size:20px;
    font-weight: 900;
}
.no-money hr{
    margin:10px 0;
}
.nm-para{
    color: #242424;
    margin-bottom:10px;
}
.nm-btn{
    padding:5px 30px;
}
#uni-bg{
    background-color: #ffffff5d;
    z-index:-10;
    opacity: 0;
    transition: 0.3s;
}





.i-btn{
    padding:1px 10px;
    font-size:15px;
    position:absolute;
    bottom:30px;
    left:50%;
    transform: translateX(-50%);
    opacity: 0.1;
    pointer-events: none;
}





.item{
    width:170px;
    height:200px;
    display: grid;
    top:60%;
    grid-template-rows: 170px 30px;
}
.i-img{
    background: url(public/h.webp) center / cover ;
    transition: 0.3s;
}
.i-img:hover , .active-img1{
    background: url(public/h-c.webp)  center / cover;
}




.item2{
    top:30%;
    left:80%;
}
.item2 .i-img{
    background: url(public/ho.webp) center / cover ;
    transition: 0.3s;
}
.item2 .i-img:hover , .active-img2{
    background: url(public/ho-c.webp)  center / cover !important;
}



.item3{
    top:75%;
    left:20%;
}
.item3 .i-img{
    background: url(public/shop.webp) center / cover ;
    transition: 0.3s;
}
.item3 .i-img:hover , .active-img3{
    background: url(public/shop-c.webp)  center / cover !important;
}


.item4{
    top:60%;
    left:70%;
}
.item4 .i-img{
    background: url(public/school.webp) center / cover ;
    transition: 0.3s;
}
.item4 .i-img:hover , .active-img4{
    background: url(public/school-c.webp)  center / cover !important;
}


.item5{
    top:80%;
    left:90%;
}
.item5 .i-img{
    background: url(public/cave.webp) center / cover ;
    transition: 0.3s;
}
.item5 .i-img:hover , .active-img5{
    background: url(public/cave-c.webp)  center / cover !important;
}


.item6{
    top:50%;
    left:10%;
}
.item6 .i-img{
    background: url(public/gym.webp) center / cover ;
    transition: 0.3s;
}
.item6 .i-img:hover , .active-img6{
    background: url(public/gym-c.webp)  center / cover !important;
}


.item7{
    top:40%;
    left:25%;
}
.item7 .i-img{
    background: url(public/jobs.webp) center / cover ;
    transition: 0.3s;
}
.item7 .i-img:hover , .active-img7{
    background: url(public/jobs-c.webp)  center / cover !important;
}



.item8{
    top:30%;
    left:45%;
}
.item8 .i-img{
    background: url(public/invest.webp) center / cover ;
    transition: 0.3s;
}
.item8 .i-img:hover , .active-img8{
    background: url(public/invest-c.webp)  center / cover !important;
}












.doo-container{
    width:35px;
    height:60px;
    position: absolute;
     top:350px;
    left:610px; 
    /* top:80%;
    left:20%; */
    z-index:10;
    transition: transform 0.3s;
}
.doo{
    background: url(public/doo-walk.webp) center / cover;
    width:100%;
    height: 100%;
    z-index:2;
    position: relative;
}
.leg{
    width:12px;
    height: 45px;
    background:#000;
    border-radius:20px 20px 0 0 ;
    position: absolute;
    bottom:-40px;
    left:30%;
    transform:rotate(0);
    transform-origin: top ; 
    transition: 0.3s;
}
#leg2{
    left:56%;
}

@keyframes walk {
    0%{
        transform:rotate(-10deg);
    }
    50%{
        transform:rotate(30deg);
    }
    100%{
        transform:rotate(-10deg);
    }
}
.say{
    border:2px solid #333333;
    border-radius: 10px;
    position: absolute;
    top:-55px;
    left:50%;
    width:200px;
    font-size:10px;
    background:#fff;
    padding:5px 10px;
    opacity:0;
    pointer-events: none;
    transition:0.5s;
    transform: translateX(-50%);
}
#accessories{
    position: absolute;
    top:-15px;
    left:0;
    width:100%;
    height: 30px;
    z-index:3;
    transform: scale(1.5);
}
.yellow-hat{
    background: url(public/yellow-hat.webp) center / cover !important;
}
.blue-hat{
    background: url(public/blue-hat.webp) center / cover !important;
}
.red-hat{
    background: url(public/red-hat.webp) center / cover !important;
}











.item:hover .preview, .item-hover .preview{
    opacity: 1;
}

.preview{
    position: absolute;
    top:-20px;
    left:50%;
    transform: translateX(-50%);
    z-index: 3;
    width:120%;
    height: 50px;
    gap:5px;
    background:#ffffff50;
    border:1px solid #000;
    border-radius: 15px;
    padding:10px;
    transition: 0.3s;
    opacity: 0;
}
.preview-img{
    width:15px;
}
.preview-text{
    font-size: 10px;
}
.preview-text-red{
    color: red;
}



#tutorial{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: #00000049;
    opacity: 0;
    z-index: -10;
    transition: 0.5s;
}
.tutorial-btn{
    width:20%;
    position: relative;
    left:50%;
    transform:translateX(-50%) scale(0.7);
    background-color: #86BCBD;
    color: #000;
}

.motion{
    display: none;
}