* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Gochi Hand", cursive;
    scroll-behavior: smooth;
}
body{
    position: relative;
}



.bg-v {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0  ;
}

.bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-w {
    background: #ffffffc5;
}

.btn{
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding:10px 20px;
    cursor: pointer;
    border:3px solid #000 !important;
    transition: 0.3s;
    border:none;
    text-align: center;
}
.btn:hover{
    background-color: #00000000;
    color: #000;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px
}
.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.centerall {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
a.no{
    text-decoration: none;
}

section{
    width:100%;
    height: 100vh;
    overflow: hidden;
}



.loading{
    position: fixed;
    top:0;
    left:0;
    background:#ffffff8f;
    z-index:1000;
}
.l-logo{
    width:80px;
    border-radius: 50%;
    animation: loading 2s infinite;
}
@keyframes loading {
    0%{
        outline:0px solid #8b8b8b59;
    }
    50%{
        outline:30px solid #8b8b8b59;
    }
    100%{
        outline:0px solid #8b8b8b59;
    }
}



.top-bar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
    padding:10px 30px;
    display: grid;
    grid-template-columns: 150px 5fr 100px 100px 100px 1fr;
}
.stats{
    gap:10px;
}
.top-icon{
    height: 30px;
}

.pp{
    position:fixed;
    width:400px;
    z-index: 12;
    background-color: #fff;
    border:3px solid #000;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
    opacity:0;
    display: none;
}
.bg-b {
    background: #444444c5;
    z-index:11;
    transition: 0.5s;
    opacity:0;
    display: none;
}
#pp-h{
    text-align: center;
}
#pp-para{
    font-size:13px;
    text-align: center;
    margin: 10px 0 10px 0;
}
.pp-container{
    transition: 0.3s;
}
.pp-ind-container{
    border:2px solid #000;
    border-radius: 18px;
    padding:8px 15px;
    margin: 0 10px;
}
.pp-img{
    width:50px;
}
.pp-btn{
    margin: 10px 0 0 0;
    width:50%;
    padding: 5px 15px;
    position: relative;
}


.die-menu{
    position: fixed;
    top:0;
    left:0;
    z-index: 20;
    width:100%;
    height:100vh;
    background: #ffffff;
    text-align: center;
    transition: 1s;
    transform: scale(0);
    backdrop-filter: blur(5px);
}
.big-container{
    max-height: 60%;
}
.die-h{
    color: #aa0000;
    font-size:80px;
    font-family: "Pacifico", cursive;
    text-shadow: #ff6969 0px 0px 20px ;
}
.die-stats-container{
    gap:10px;
    margin:10px;
}
.die-ind-container{
    padding:8px 20px;
    border:8px solid #fff;
    border-radius: 18px;
}
.die-ind-container-hearts{
    border-color: #aa0000;
}
.respawn-btn{
    width: 50%;
    position: relative;
    margin:10px;
}



#settings-btn{
    cursor: pointer;
}
#bg-settings{
    position: absolute;
    z-index: 13;
    top:0;
    left:0;
    background-color: #ffffff77;
    transition: 0.5s;
    transform:scale(0);
}
.settings{
    background-color: #ffeb92;
    width:70%;
    max-height: 80%;
    z-index:14;
    padding:20px 50px;
    border: 5px solid #ccc;
    border-radius: 20px;
    transition: 0.5s;
    transform:scale(0) translate(-50%,-50%);
}
.settings-h{
    font-size:30px;
    font-family: "Pacifico", cursive;
}
.h-set-cont{
    justify-content: space-between;
}
.x{
    font-size:30px;
    cursor: pointer;
}
.settings-container{
    padding:10px 150px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(1fr, 3);
}
.credits{
    padding:10px 150px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(1fr, 3);
}




.i-btn{
    padding:1px 10px;
    font-size:15px;
    position:absolute;
    bottom:30px;
    left:50%;
    transform: translateX(-50%);
    opacity: 0.1;
    pointer-events: none;
}





.item{
    width:170px;
    height:200px;
    display: grid;
    grid-template-rows: 170px 30px;
}
.i-img{
    background: url(public/h.webp) center / cover ;
    transition: 0.3s;
}
.i-img:hover , .active-img1{
    background: url(public/h-c.webp)  center / cover;
}




.item2{
    top:30%;
    left:80%;
}
.item2 .i-img{
    background: url(public/ho.webp) center / cover ;
    transition: 0.3s;
}
.item2 .i-img:hover , .active-img2{
    background: url(public/ho-c.webp)  center / cover !important;
}



.item3{
    top:75%;
    left:20%;
}
.item3 .i-img{
    background: url(public/shop.webp) center / cover ;
    transition: 0.3s;
}
.item3 .i-img:hover , .active-img3{
    background: url(public/shop-c.webp)  center / cover !important;
}


.item4{
    top:60%;
    left:70%;
}
.item4 .i-img{
    background: url(public/school.webp) center / cover ;
    transition: 0.3s;
}
.item4 .i-img:hover , .active-img4{
    background: url(public/school-c.webp)  center / cover !important;
}


.item5{
    top:80%;
    left:90%;
}
.item5 .i-img{
    background: url(public/cave.webp) center / cover ;
    transition: 0.3s;
}
.item5 .i-img:hover , .active-img5{
    background: url(public/cave-c.webp)  center / cover !important;
}












.doo-container{
    width:35px;
    height:60px;
    position: absolute;
    /* top:250px;
    left:600px; */
    inset:75%;
    z-index:10;
    transition: transform 0.3s;
}
.doo{
    background: url(public/doo-walk.webp) center / cover;
    width:100%;
    height: 100%;
    z-index:2;
    position: relative;
}
.leg{
    width:12px;
    height: 45px;
    background:#000;
    border-radius:20px 20px 0 0 ;
    position: absolute;
    bottom:-40px;
    left:30%;
    transform:rotate(0);
    transform-origin: top ; 
    transition: 0.3s;
}
#leg2{
    left:56%;
}

@keyframes walk {
    0%{
        transform:rotate(-10deg);
    }
    50%{
        transform:rotate(30deg);
    }
    100%{
        transform:rotate(-10deg);
    }
}

.item:hover .preview, .item-hover .preview{
    opacity: 1;
}

.preview{
    position: absolute;
    top:-10px;
    left:50%;
    transform: translateX(-50%);
    z-index: 3;
    width:120%;
    height: 50px;
    gap:5px;
    background:#ffffff50;
    border:1px solid #000;
    border-radius: 15px;
    padding:10px;
    transition: 0.3s;
    opacity: 0;
}
.preview-img{
    width:15px;
}
.preview-text{
    font-size: 10px;
}
.preview-text-red{
    color: red;
}