* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Gochi Hand", cursive;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.centerall {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
a.no{
    text-decoration: none;
    color: unset;
    cursor: unset;
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr 2fr;
    align-items: center;
    gap:20px;
    padding: 20px 100px;
    background: #ffffff00;
    text-align: center;
}
.n-scroll{
    background-color: #ffffff69;
    backdrop-filter: blur(3px);
}
.logo {
    width: 50px;
    border-radius: 50%;
}
.title{
    font-size: 20px;
    font-family: "Inspiration", cursive;
    font-weight:900 ;
    text-align: left;
}
.page{
    transition: 0.3s;
    border-radius: 20px;
    background-color: #00000000;
}
.active,.page:hover{
    background:#000;
    cursor: pointer;
    border:3px solid #000;
    color: #fff;
}
.btn{
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding:10px 20px;
    cursor: pointer;
    border:3px solid #000 !important;
    transition: 0.3s;
    border:none;
}
.btn:hover{
    background-color: #00000000;
    color: #000;
}
section {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 100px 250px;
    overflow: hidden;
    z-index:2;
}

.bg-v {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1  ;
}

.bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-w {
    background: #ffffff6c;
}


.card-container{
    z-index:2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doo-up{
    width:200px;
    filter: drop-shadow(0 12px 12px rgba(0, 0, 0, 0.39));
}
.card{
    background:#00000000;
    backdrop-filter: blur(10px);
    padding:30px 50px 40px 50px;
    border-radius: 20px;
    box-shadow: inset 0 0 12px #00000041;
}
h1{
    font-family: "Inspiration", cursive;
    font-size: 100px;
    font-weight: 900;
}
.para1{
    margin: 0 0 15px 0;
}
.btn2{
    padding: 10px 50px;
}
.btn3{
    padding: 5px 20px;
}
.a-sec{
    padding: 100px 15%;
}
.main-container{
    width:100%;
    height: 100%;
    overflow: hidden;
    gap:-10px;
    align-items: flex-start;
}
.sub-head{
    padding: 20px 50px;
    display: inline;
    font-family: "Pacifico", cursive;
    font-size:35px;
}
.img1{
    float: right;
}
.content p{
    text-indent: 30px;
    margin:10px 0;
}
footer{
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px 0;
}


.loading{
    position: fixed;
    top:0;
    left:0;
    background:#ffffff8f;
    z-index:100;
}
.l-logo{
    width:80px;
    animation: loading 2s infinite;
}
@keyframes loading {
    0%{
        outline:0px solid #8b8b8b59;
    }
    50%{
        outline:30px solid #8b8b8b59;
    }
    100%{
        outline:0px solid #8b8b8b59;
    }
}


@media screen and (max-width: 768px){
    section{
        padding:20px;
    }
    .card-container{
        transform:translate(-50%,-50%) scale(0.7);
    }
    .btn2{
        font-size: 23px;
    }
    nav{
        padding: 10px;
        gap:10px;
        grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr;
    }
    .page{
        padding:2px 5px;
    }
    .btn1{
        display: none;
    }
    .a-sec{
        padding: 10px 20px;
        height: auto;
    }
    .sub-head{
        padding: 5px 20px;
        font-size: 20px;
    }
    .img1{
        width: 100px;
    }
}